body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #99ccff;
  display: flex;
  justify-content: center;
  align-content: center;
}

#imageClinicLogo {
  height: 200px;
  width: 300px;
}

h1 {
  font-size: 60px;
  margin: 0;
  padding-top: 15px;
}

#mainGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 1200px;
}

#imageProfilePhoto,
#imageSignature {
  width: 120px;
  height: 100px;
  margin: 0 20px;
}

.photoDescriptionFirstSection {
  font-weight: bold;
  font-size: 15px;
  margin: 10px 0;
}

#doctorsTable {
  background-color: black;
}

#doctorsTable th {
  background-color: aqua;
}

#doctorsTable td {
  background-color: #f5faff;
  height: 20px;
}

#doctorsColumn1 {
  width: 345px;
}

#doctorsColumn2 {
  width: 240px;
}

#firstSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}

#firstSection-1 {
  grid-column: 1;
  grid-row: 1;
  padding-left: 30px;
  padding-top: 30px;
}

#firstSection-2 {
  grid-column: 2;
  grid-row: 1;
}

#firstSection-3 {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.firstSect {
  text-align: center;
}

#loginTab {
  background-color: #3399ff;
  font-size: 15px;
  padding: 1px 30px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px 0 0 0;
}

#tableSecondSection {
  font-size: 15px;
}

#thirdSection {
  background-color: #f5faff;
  position: relative;
  border-radius: 4px;
}

#numberThirdSection {
  color: #1344a0;
  font-weight: bold;
  font-size: 17px;
}

.lineThirdSection {
  display: flex;
  padding: 5px 0;
}

#passwordThirdSection {
  justify-content: space-between;
  align-items: center;
}

#inputPasswordThirdSection {
  margin-left: 5px;
}

#serialThirdSection {
  justify-content: center;
}

#exitButton {
  margin-left: auto;
  margin-right: 20px;
  padding: 2px 15px;
  background-color: #86f9ae;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}

#formThirdSection {
  padding: 10px 0;
  margin-top: 20px;
}

#inputPasswordThirdSection {
  width: 60px;
}

h3 {
  color: #737373;
  margin: 10px 0;
}

.labelThirdSection {
  padding: 0 10px;
}

.inputThirdSection {
  flex: 0.95;
}

#fourthSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#versionFourthSection {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
}

#date1FourthSection {
  margin: 0;
  margin-top: 8px;
  font-size: 35px;
  font-weight: 700;
}

#dateUpdateFourthSection {
  background-color: #3399ff;
  margin-bottom: 0;
  width: 320px;
  border-radius: 4px 4px 0 0;
}

#date2FourthSection {
  background-color: #f5faff;
  color: #ff1a1a;
  font-size: 20px;
  font-weight: 550;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 0;
  width: 320px;
  border-radius: 0 0 4px 4px;
}
