body {
  background-color: rgba(134, 227, 255, 0.856);
  display: flex;
  justify-content: center;
  align-content: center;
}

#imageClinicLogo {
  height: 200px;
  width: 300px;
}

#mainGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 1200px;
}

#doctorsTable {
  background-color: black;
}

#doctorsTable th {
  background-color: aqua;
}

#doctorsTable td {
  background-color: white;
  height: 20px;
}

#doctorsColumn1 {
  width: 350px;
}

#doctorsColumn2 {
  width: 250px;
}

#firstSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}

#firstSection-1 {
  grid-column: 1;
  grid-row: 1;
  padding-left: 30px;
  padding-top: 30px;
}

#firstSection-2 {
  grid-column: 2;
  grid-row: 1;
}

#firstSection-3 {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.firstSect {
  text-align: center;
}

#thirdSection {
  background-color: white;
}

.lineThirdSection {
  display: flex;
  padding: 5px 0;
}

#passwordThirdSection {
  justify-content: space-between;
  align-items: center;
}

#inputPasswordThirdSection {
  margin-left: 5px;
}

#serialThirdSection {
  justify-content: center;
}

#exitButton {
  margin-left: auto;
  margin-right: 20px;
}

#formThirdSection {
  padding: 10px 0;
}

#inputPasswordThirdSection {
  width: 60px;
}

h3 {
  color: rgb(73, 73, 73);
}

.labelThirdSection {
  padding: 0 10px;
}

.inputThirdSection {
  flex: 0.95;
}
